**work with a real-world dataset and query it using SQL from a colab**



---This dataset shows all school-level performance data used to create CPS School Report Cards for the
2011-2012 school year.

In [2]:
!pip install ibm_db
!pip install ipython-sql
!pip install ibm_db 
!pip install ibm_db_sa 
!pip install ipython-sql
!pip install ipynb

Collecting ibm_db
  Downloading https://files.pythonhosted.org/packages/5d/0d/684a44f2449b0b731932a11e98e48085be96af3f44c0b196d56a0ecfdd52/ibm_db-3.0.3.tar.gz (794kB)
     |████████████████████████████████| 798kB 5.5MB/s
Building wheels for collected packages: ibm-db
  Building wheel for ibm-db (setup.py) ... done
  Created wheel for ibm-db: filename=ibm_db-3.0.3-cp36-cp36m-linux_x86_64.whl size=40995768 sha256=14064f598c731ed4fe58a4ce51e2ed1201749deead28e2011ff32336a24cd3ba
  Stored in directory: /root/.cache/pip/wheels/f2/0e/c0/55fd70ce0709cb4eed1b548ce0367531f931aea30ee0abfaf0
Successfully built ibm-db
Installing collected packages: ibm-db
Successfully installed ibm-db-3.0.3
Requirement already satisfied: ipython-sql in /usr/local/lib/python3.6/dist-packages (0.3.9)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.6/dist-packages (from ipython-sql) (1.3.23)
Requirement already satisfied: prettytable in /usr/local/lib/python3.6/dist-packages (from ipython-sql) (2.0.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.6/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.6/dist-packages (from ipython-sql) (0.4.1)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.6/dist-packages (from ipython-sql) (5.5.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from prettytable->ipython-sql) (53.0.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.6/dist-packages (from ipython>=1.0->ipython-sql) (0.8.1)
Requirement already satisfied: pygments in /usr/local/lib/python3.6/dist-packages (from ipython>=1.0->ipython-sql) (2.6.1)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.6/dist-packages (from ipython>=1.0->ipython-sql) (1.0.18)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.6/dist-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.6/dist-packages (from ipython>=1.0->ipython-sql) (4.3.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.6/dist-packages (from pexpect; sys_platform != "win32"->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: ibm_db in /usr/local/lib/python3.6/dist-packages (3.0.3)
Collecting ibm_db_sa
  Downloading https://files.pythonhosted.org/packages/62/af/88781f8dc7a414507ab94a2b91319bdbd3b5375e38353446c113c548adcb/ibm_db_sa-0.3.6.tar.gz
Requirement already satisfied: sqlalchemy>=0.7.3 in /usr/local/lib/python3.6/dist-packages (from ibm_db_sa) (1.3.23)
Requirement already satisfied: ibm_db>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from ibm_db_sa) (3.0.3)
Building wheels for collected packages: ibm-db-sa
  Building wheel for ibm-db-sa (setup.py) ... done
  Created wheel for ibm-db-sa: filename=ibm_db_sa-0.3.6-cp36-none-any.whl size=28860 sha256=52970fb9df4fc897f026749e76ae7c6e619bd18ebd1a26d65f213d1ec03f0ec2
  Stored in directory: /root/.cache/pip/wheels/97/b5/8a/17a01086a100d48a008b2b556843b23fef5eb69a6b4f04c419
Successfully built ibm-db-sa
Installing collected packages: ibm-db-sa
Successfully installed ibm-db-sa-0.3.6
Requirement already satisfied: ipython-sql in /usr/local/lib/python3.6/dist-packages (0.3.9)
Requirement already satisfied: prettytable in /usr/local/lib/python3.6/dist-packages (from ipython-sql) (2.0.0)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.6/dist-packages (from ipython-sql) (0.4.1)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.6/dist-packages (from ipython-sql) (1.3.23)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.6/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.6/dist-packages (from ipython-sql) (5.5.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from prettytable->ipython-sql) (53.0.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.6/dist-packages (from ipython>=1.0->ipython-sql) (1.0.18)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.6/dist-packages (from ipython>=1.0->ipython-sql) (4.3.3)
Requirement already satisfied: pygments in /usr/local/lib/python3.6/dist-packages (from ipython>=1.0->ipython-sql) (2.6.1)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.6/dist-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.6/dist-packages (from ipython>=1.0->ipython-sql) (0.8.1)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.6/dist-packages (from pexpect; sys_platform != "win32"->ipython>=1.0->ipython-sql) (0.7.0)
Collecting ipynb
  Downloading https://files.pythonhosted.org/packages/31/42/4c0bbb66390e3a68e04ebf134c8d074a00c18b5882293f8ace5f7497fbf0/ipynb-0.5.1-py3-none-any.whl
Installing collected packages: ipynb
Successfully installed ipynb-0.5.1

In [4]:
import sqlite3

In [3]:
import numpy as np
import pandas
import matplotlib
import ibm_db 
import ibm_db_sa
import sqlalchemy
%load_ext sql 
import ibm_db_dbi
import pandas
import matplotlib.pyplot as plt
from matplotlib import pyplot as plt
import seaborn as sns

In [5]:
dsn_uid = "ljf38983"
dsn_hostname = "dashdb-txn-sbox-yp-lon02-04.services.eu-gb.bluemix.net"
dsn_pwd = "9^g7sc5npmsc4v1d"
dsn_port = 50000
dsn_database = "BLUDB"
dsn_PROTOCOL= "TCPIP"
 #dsn_driver = "{IBM DB2 ODBC Driver}"
dsn=(
  "DRIVER={{IBM DB2 ODBC DRIVER}};"
  "DATABASE={0};"
  "HOSTNAME={1};"
  "PORT ={2};"
  "PORTOCOL=TCPIP;"
   "UID ={3};"
   "PWD={4};").format(dsn_database, dsn_hostname, dsn_port, dsn_uid, dsn_pwd)

try:
  conn= ibm_db.connect(dsn,"","")
  print("yes")
except :
  print("no")

yes

In [6]:
stmt= ibm_db.exec_immediate(conn,"SELECT *FROM SU;") 
print(stmt)
pconn = ibm_db_dbi.Connection(conn)
df = pandas.read_sql("SELECT * FROM CH;",pconn)
df.describe(include='all')

<ibm_db.IBM_DBStatement object at 0x7f49ef52c420>

            School_ID  ...                     Location
count      566.000000  ...                          566
unique            NaN  ...                          550
top               NaN  ...  (41.83601953, -87.73419465)
freq              NaN  ...                            4
mean    609681.791519  ...                          NaN
std       8831.060946  ...                          NaN
min     400018.000000  ...                          NaN
25%     609873.250000  ...                          NaN
50%     610052.500000  ...                          NaN
75%     610212.750000  ...                          NaN
max     610544.000000  ...                          NaN

[11 rows x 78 columns]

In [7]:
import sys,os,os.path
os.environ['IBM_DB_HOME']='C:\Program Files\IBM\SQLLIB'

In [ ]:
!pip install ipython-sql

!pip install ibm_db 

!pip install ibm_db_sa

In [8]:
df = pandas.read_sql("SELECT * FROM CH;",pconn)
print(df)

     School_ID  ...                     Location
0       610038  ...  (41.92449696, -87.64452163)
1       610281  ...  (41.76032435, -87.55673627)
2       610185  ...  (41.74711093, -87.73170248)
3       609993  ...    (41.8097569, -87.6721446)
4       610513  ...  (41.82814609, -87.63279369)
..         ...  ...                          ...
561     610172  ...  (41.79978772, -87.65025483)
562     609844  ...  (41.78984129, -87.62248974)
563     610088  ...  (41.92092734, -87.72192541)
564     609977  ...  (41.77339962, -87.59435584)
565     610392  ...  (41.83601953, -87.73419465)

[566 rows x 78 columns]

In [9]:
df = pandas.read_sql("SELECT count(*) FROM CH;",pconn)
print(df)

       1
0  566.0

In [10]:
 !pip install iPython-sql

Requirement already satisfied: iPython-sql in /usr/local/lib/python3.6/dist-packages (0.3.9)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.6/dist-packages (from iPython-sql) (5.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from iPython-sql) (1.15.0)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.6/dist-packages (from iPython-sql) (0.4.1)
Requirement already satisfied: prettytable in /usr/local/lib/python3.6/dist-packages (from iPython-sql) (2.0.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.6/dist-packages (from iPython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.6/dist-packages (from iPython-sql) (1.3.23)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.6/dist-packages (from ipython>=1.0->iPython-sql) (53.0.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.6/dist-packages (from ipython>=1.0->iPython-sql) (0.7.5)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.6/dist-packages (from ipython>=1.0->iPython-sql) (0.8.1)
Requirement already satisfied: pygments in /usr/local/lib/python3.6/dist-packages (from ipython>=1.0->iPython-sql) (2.6.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from ipython>=1.0->iPython-sql) (4.4.2)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.6/dist-packages (from ipython>=1.0->iPython-sql) (4.3.3)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.6/dist-packages (from ipython>=1.0->iPython-sql) (1.0.18)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from ipython>=1.0->iPython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from prettytable->iPython-sql) (0.2.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.6/dist-packages (from pexpect; sys_platform != "win32"->ipython>=1.0->iPython-sql) (0.7.0)

In [11]:
df = pandas.read_sql("SELECT MAX(Safety_Score) AS MAX_SAFETY_SCORE FROM CH;",pconn)
print(df)

   MAX_SAFETY_SCORE
0                99